# Python
*.py[cod~$]
*.so
.Python
*.egg-info/
dist/
build/
*.egg-info
*.egg-info/
dist/
build/
develop-eggs/
dist/
build/
downloads/
eggs/
.eggs/
.svn/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
tox/
.tox/
tox/
.tox/
.tox/
.tox/
.tox/
.tox/
tox/
tox/
.tox/
.tox/
.tox/
tox/
.tox/
.tox/
.tox/
.tox/
.tox/
tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
tox/
.tox/
tox/
.tox/
tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
.tox/
tox/
.tox/
.tox/
.tox/
.tox/
.tox/
tox/
.tox/
tox/
.tox/
tox/
.tox/
tox/
tox/
.tox/
tox/
.tox/
.tox/
tox/
tox/
tox/
.tox/
tox/
.tox/
.tox/
.tox/
tox/
.tox/
tox/
.tox/
tox/
.tox/
tox/
tox/
tox/
.tox/
tox/
tox/
tox/
.tox/
tox/
.tox/
tox/
tox/
tox/
.tox/
tox/
tox/
tox/
.tox/
tox/
tox/
tox/
tox/
.tox/
tox/
.tox/
tox/
tox/
tox/
.tox/
tox/
tox/
tox/
tox/
tox/
tox/
.tox/
tox/
tox/
tox/
tox/
tox/
.tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
.tox/
.tox/
tox/
tox/
tox/
.tox/
tox/
tox/
tox/
tox/
.tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox/
tox:
    "    type": "text",
    "text": "消息内容"
}

注意：content 必须是合法 JSON 字符串，格式取决于 msg_type。最常用：text 类型 content 为 '{"text":"消息内容"}'。

【安全约束】此工具以用户身份发送消息，发出后对方看到的发送者是用户本人。调用前必须先向用户确认：1) 发送对象（哪个人或哪个群）2) 消息内容。禁止在用户未明确同意的情况下自行发送消息。
